* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "open sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #0d192b;
}

.container {
  max-width: 42rem;
  margin: 10% auto;
  padding: 3.2rem;
  background-color: hsl(216, 50%, 16%);
  box-shadow: 0px 1.2rem 0 2.4rem #0a1422, 0px 2.6rem 0 6rem #0c1727;
  /* background-color: white; */
  border-radius: 1.8rem;
}
.img {
  height: 36rem;
  width: 100%;
  display: block;
  background-image: url(images/image-equilibrium.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 1.8rem;
  margin: 0 0 3.6rem 0;
  /* position: relative; */
}

.img:hover {
  background-image: linear-gradient(
      rgba(0, 255, 247, 0.4),
      rgba(0, 255, 247, 0.4)
    ),
    url(images/image-equilibrium.jpg);
}

.img:hover .icon-view {
  display: block;
}

.icon-view {
  width: 4.8rem;
  position: relative;
  top: 50%;
  right: -50%;
  transform: translate3d(-50%, -50%, 0);
  display: none;
}

.mb {
  margin-bottom: 1.8rem;
}

.card-title {
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: 1.3px;
}

.card-title:hover {
  color: hsl(178, 100%, 50%);
}

.card-text {
  font-size: 1.8rem;
  color: hsl(215, 51%, 70%);
}

.card-text p {
  line-height: 1.5;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gap {
  gap: 1.2rem;
}

.card-price p {
  color: hsl(178, 100%, 50%);
  font-weight: 700;
}

.creator-section {
  border-top: 2px solid hsl(215, 32%, 27%);
  padding-top: 1.8rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.creator-img {
  width: 4.2rem;
}

.creator-name {
  color: #fff;
}

.creator-name:hover {
  color: hsl(178, 100%, 50%);
}

@media (max-width: 35rem) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: 32rem;
  }
  .img {
    height: 28rem;
  }
}
